.git
.DS_Store
.vscode
.pytest_cache
.venv
__pycache__
*.pyc

.coverage
coverage.xml
htmlcov
reports

dist
out
*.egg-info
*.vsix
*.tgz

.ipynb_checkpoints
Untitled*.ipynb

local
Local_Reference
PLAY

node_modules
**/node_modules
.vscode-test
**/.vscode-test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
